
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #18161C;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transform-style: preserve-3d;
    perspective: 999px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    height: 330px;
    background: white;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-style: preserve-3d;
    padding: 1rem;
    transition: all 0.5s;
}
.card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(10px 10px 9px rgba(0,0,0,0.5));
    top: -50%;
    left: -5%;
    transition: all 1s;
}
.card:nth-child(2) img{
    height: 400px;
    object-fit: cover;
    top: -60%;
    left: -5%;
}
.card h1{
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-family: syne;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 2.1rem;
    color: white;
    transition: all 1s;
}

span{
    display: block;
    font-family: syne;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 200;
    padding-block-start: 0.2vw;
}


.card:nth-child(1){
    background: linear-gradient(to top, #1b3015, #7CE78B);

}
.card:nth-child(1):hover{
    transform: rotateY(40deg) translateZ(80px);
}
.card:nth-child(1):hover img{
    transform: translateX(20px) translateZ(200px) rotateY(180deg);
    filter: drop-shadow(5px -25px 8px #6AC676);
}
.card:nth-child(1):hover h1{
    transform: translateZ(150px) translateX(20px) rotateY(10deg);
}
.card:nth-child(2){
    background: linear-gradient(to top, #47060b, #ec5052);
    transition: all 0.5s;
}
.card:nth-child(2):hover{
    transform: rotateY(20deg) translateZ(80px);
}
.card:nth-child(2):hover img{
    transform: translateZ(200px) translateX(50px);
    filter: drop-shadow(5px -15px 8px #fa3c3f);
}
.card:nth-child(2):hover h1{
    transform: translateZ(200px) translateX(50px)
}
.card:nth-child(3){
    background: linear-gradient(to top, #0f2c30, #7ca39f);
    transform: scale(1) rotateY(360deg);
    transition: transform 2s;
}
.card:nth-child(3):hover{
    transform: scale(1.2);
}
.card:nth-child(3):hover img{
    transform: scale(1.1) translateZ(80px);
    filter: drop-shadow(8px 8px 8px #6ac7be);
}
.card:nth-child(3):hover h1{
    transform: translateZ(100px) translateY(1rem);
}
.card:nth-child(4){
    background: linear-gradient(to top, #302529,#7D5C45);
}
.card:nth-child(4):hover{
    transform: rotateY(-20deg) translateZ(80px);
}
.card:nth-child(4):hover img{
    transform: translateZ(130px) translateX(-50px) rotateY(-10deg);
    filter: drop-shadow(5px -15px 8px #a8ebf0);
}
.card:nth-child(4):hover h1{
    transform: translateZ(90px) translateX(-50px) rotateY(-10deg);
}
.card:nth-child(5){
    background: linear-gradient(to top, #b43a1c,#dfc65a);
}
.card:nth-child(5):hover{
    transform: rotateY(-40deg) translateZ(80px);
}
.card:nth-child(5):hover img{
    transform: translateX(-20px) translateZ(10vw);
    filter: drop-shadow(-8px -13px 8px #ce0f0f);
}
.card:nth-child(5):hover h1{
    transform: translateZ(10vw) translateX(-10px) rotateY(-15deg);
}


@media (max-width: 700px) and (min-width: 200px) {
    
    .images{
        padding-block-start: 12rem;
        padding-block-end: 12rem;
        flex-direction: column;
        row-gap: 15rem;
    }
    .card{
        width: 250px;
        height: 320px;
    }
    .card img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(10px 10px 9px rgba(0,0,0,0.5));
        top: -50%;
        left: -5%;
        transition: all 1s;
    }
    .card:nth-child(2) img{
        width: 400px;
        height: 430px;
        object-fit: contain;
        top: -75%;
        left: -35%;
    }
    .card h1{
        position: absolute;
        top: 55%;
        left: 5%;
        font-family: montserrat;
        font-weight: 800;
        font-size: 3.5rem;
        color: white;
        transition: all 1s;
    }
    
    span{
        display: block;
        font-family: catchye demo;
        letter-spacing: 3px;
        font-size: 1.5rem;
        font-weight: 100;
        padding-block-start: 0.2vw;
        margin-block-start: 0.2rem;
    }
    .card:nth-child(1):hover{
        transform: rotateY(15deg) translateZ(40px) translateY(50px);
    }
    .card:nth-child(1):hover img{
        transform: translateX(10px) translateY(110px) translateZ(100px) rotateY(180deg);
        filter: drop-shadow(5px -25px 8px #6AC676);
    }

    .card:nth-child(1):hover h1{
        transform: translateZ(25vw) translateX(20px) translateY(150px);
    }

    .card:nth-child(2):hover{
        transform: rotateY(20deg) translateZ(80px);
    }
    .card:nth-child(2):hover img{
        transform: translateZ(80px) translateX(30px) translateY(80px) scale(1);
        filter: drop-shadow(5px -15px 8px #fa3c3f);
    }
    .card:nth-child(2):hover h1{
        transform: translateZ(150px) translateX(50px) translateY(100px);
    }

    .card:nth-child(4):hover{
        transform: rotateY(-15deg) translateZ(80px) translateY(-50px);
    }
    .card:nth-child(4):hover img{
        transform: translateZ(130px) translateX(-10px) rotateY(-10deg) translateY(-40px) scale(1);
        filter: drop-shadow(5px -15px 8px #a8ebf0);
    }
    .card:nth-child(4):hover h1{
        transform: translateZ(80px) translateX(-80px) rotateY(-10deg) translateY(-30px);
    }
    .card:nth-child(5):hover{
        transform: rotateY(-12deg) translateZ(80px) translateY(-50px);
    }
    .card:nth-child(5):hover img{
        transform: translateZ(100px) translateX(-50px) rotateY(-5deg) translateY(-80px) scale(1);
        filter: drop-shadow(5px -15px 8px #a8ebf0);
    }
    .card:nth-child(5):hover h1{
        transform: translateZ(80px) translateX(-50px) rotateY(-5deg) translateY(-80px);
    }
    
}
